dr_app/pkgs/Wadl/DR_APP_IDからフォルダーパスを取得.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://japan-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DR_APP_IDからフォルダーパスを取得" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DR_APP_IDからフォルダーパスを取得" />
  <grammars>
    <jsonTypes targetNamespace="https://japan-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_JSON_Ux306E_Ux89E3_Ux6790___Ux30B3_Ux30F3_Ux30C6_Ux30F3_Ux30C4__def" />
      <object name="ManualTriggerInput">
        <property name="JSONの解析_コンテンツ" type="string" />
      </object>
      <string name="ResponseActionOutput_path_def" />
      <object name="ResponseActionOutput">
        <property name="path" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://japan-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="JSONの解析_コンテンツ" path="/JSONの解析_コンテンツ" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>